body{
    background-image: url(nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Container{
    width: 300px;
    margin: 250px auto 250px auto;
    border-radius: 10px;
    background-color: rgba(241, 231, 231, 0.5);
    padding-block: 25px;
    box-shadow: 2px 2px 2px rgba(228, 7, 7,0.3);
}
.first{
    text-align: center;
    font-family: Impact;
    text-transform: lowercase;
    word-spacing: 10px;  
    font-weight: lighter;
    letter-spacing: 5px;
    text-shadow: 20px 20px 2px rgb(228, 7, 7);
}
.second{
    text-align: center;
    font-family: Impact;
    text-transform: uppercase;
    word-spacing: 20px; 
    letter-spacing: 10px;
}
.third{
    text-align: center;
    font-family: Impact;
    text-transform: lowercase;
    word-spacing: 10px; 
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 20px 20px 2px rgb(228, 7, 7);
    
}