
 body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
#Css-select{
    text-align: left;
}
.Css-style{
    text-align: left;
}
.color-class{
    text-align: left;
    
}
.color-class>h1{
    color: rgb(62, 152, 62);
    font-size: 40px;
    font-weight: 300;
}