*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .logo img {
    width: 20%;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    justify-content: space-between;
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .menu-toggle {
      display: block;
    }
  }